client/node_modules
client/package-lock.json

server/node_modules
server/package-lock.json
server/.env

mobile/node_modules
mobile/package-lock.json
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/
mobile/.DS_Store
mobile/expo-env.d.ts
mobile/ios/Pods/
mobile/%ProgramData%